
.container{
    // background-color: black;
    border: 1px solid black;
    width: 15em;
    .img{
        width: 15em;
    }

    .contentContainer{
        // border: 1px solid black;
        text-align: center;

    }
}